# Python
__pycache__/
*.py[cod]
*$py.class

# State file containing sensitive data
state.json

# Environment variables
.env

# Virtual environment
venv/
.env.*

# IDE settings
.vscode/
.idea/

# Log files
*.log
